name: Release for Linux

on:
  push:
    tags:
      - '*'

jobs:

  release:

    strategy:
      matrix:
        # Build on not-the-latest to keep dependency versions modest.
        os: [ubuntu-22.04, ubuntu-22.04-arm]

    runs-on: ${{ matrix.os }}

    permissions:
        contents: write

    steps:

      - name: Set up a build environment.
        run: |
          sudo apt update
          sudo apt install -y build-essential cmake
          sudo apt install -y zlib1g-dev liblz4-dev

      - name: Check out our dlsh code for the current tag..
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install TCL 9 to the build environment.
        run: |
          cd deps/tcl/unix/
          ./configure
          make
          sudo make install

      - name: Install Jansson to the build environment.
        run: |
          cd deps/jansson/
          cmake -B build
          cmake --build build
          sudo cmake --install build

      - name: Install Libharu to the build environment (static and dynamic libs both).
        run: |
          cd deps/libharu/
          cmake -D BUILD_SHARED_LIBS=OFF -D CMAKE_POSITION_INDEPENDENT_CODE=ON -B build
          cmake --build build
          sudo cmake --install build

      - name: Build dlsh and package for release.
        run: |
          cmake -D PROJECT_VERSION=${{ github.ref_name }} -B build
          cmake --build build
          cpack -G DEB --config build/CPackConfig.cmake

      - name: Create a GitHub release for the current tag and artifacts.
        uses: ncipollo/release-action@v1
        with:
          artifacts: "*.deb"
          body: libs and headers for dlsh version ${{ github.ref_name }}
          generateReleaseNotes: true
          allowUpdates: true
